<h1 [ngStyle]="{'background-color': currentRiskData[0].colour}">Risk Level is: {{currentRiskData[0].level}}</h1>
<div *ngIf="!questionAnswered">
    <h2>Do you posses the below common symptoms?</h2>
    <ul>
        <li>Fever</li>
        <li>Dry cough</li>
        <li>Tiredness</li>
        <li>Difficulty breathing</li>
    </ul>
    <button class="btn btn-primary" (click)="questionAnswered=true; tableToShow=1">Yes</button>
    <button class="btn btn-secodary" (click)="questionAnswered=true; tableToShow=0">No</button>
</div>
<div *ngIf="questionAnswered">
    <h2>{{currentRiskData[tableToShow].heading}}</h2>
    <ul>
        <li *ngFor="let item2 of currentRiskData[tableToShow].data">{{item2}}</li>
    </ul>
</div>
<p> <b> For help getting the contact details of your country's disease control centre follow this <a [href]="'https://www.google.co.za/search?q=' + country + '+disease+control'" target="_blank">link</a></b></p>
